p { display:none;}

#data-list {
    width: 105%;
    align: center;
}

li {
    display: inline-block;
}

li img {
    display:inline-block;
    align: center;
    width: 290px;
    height: 290px;
    object-fit: cover !important;
  }