@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
html, body {
  max-width: 100%;

}

body {
    background-color: black;
  }

h1, h2, h3, p {
    color: greenyellow;
    font-family: 'Silkscreen', cursive;
}

h1 {
    font-size: 1.4em;
}

.gallery-title {
    position: fixed;
    z-index: 1;
    margin: 10px;
    left: 0;
    background-color: black;
    border: 2px solid greenyellow;
    border-radius: 30px;
    padding: 2px 12px 4px 12px;
    box-shadow: 0 0 12px 0px greenyellow;
}

.gallery-title:hover {
    background-color: greenyellow;
    border: 2px solid black;   
}

.gallery-title h1:hover {
    color: black;
}

.gallery-info {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    margin: 10px;
    background-color: black;
    border: 2px solid greenyellow;
    border-radius: 30px;
    padding: 2px 12px 4px 12px;
    box-shadow: 0 0 12px 0px greenyellow;
}

.gallery-info:hover {
    background-color: greenyellow;
    border: 2px solid black;   
}

.gallery-info h1:hover {
    color: black;
}
.switches {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  right: 0;
}

.switch1 {
  position: block;
  z-index: 1;
  margin: 10px;
  background-color: greenyellow;
  border: 2px solid black;
  border-radius: 30px;
  padding: 2px 12px 4px 12px;
  box-shadow: 0 0 12px 0px greenyellow;
}

.switch1 h1 {
  color: black;
}


.switch2 {
  position: block;
  z-index: 1;
  margin: 10px;
  background-color: black;
  border: 2px solid greenyellow;
  border-radius: 30px;
  padding: 2px 12px 4px 12px;
  box-shadow: 0 0 12px 0px greenyellow;
}

.switch2:hover {
  background-color: greenyellow;
  border: 2px solid black;
}

.switch2 h1:hover {
  color: black;
}


#data-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  height: 100vh;
}
  
#data-list li {
  width: 33.33%;
  margin-bottom:-5px;
  text-align: center;
  cursor: pointer;
}
  
#data-list li img {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}
  
.fullscreen img {
  max-width: 100%;
  max-height: 70%;
  object-fit: contain;
  cursor: pointer;
  }
  
.fullscreen-details {
  background-color: none;
  position: absolute;
  bottom: 10px;
  left:10px;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}

  .home-title {
    font-family: 'Silkscreen', cursive;
    color: greenyellow;
    z-index: 1;
    text-align: center;
    background-color: black;
    border: 2px solid greenyellow;
    border-radius: 30px;
    padding: 2px 12px 4px 12px;
    box-shadow: 0 0 12px 0px greenyellow;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  .home-description {
    position: absolute;
    z-index: 999;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  canvas {
    display: block;
    z-index: -999;
}

@media only screen and (max-width:768px) and (min-width:200px) {
  
  body {width: 100vw;}
  h1 {font-size: 1em;}

  #data-list {
    height: 50vh;
}
    
  #data-list li img {
    width: 50vw;
    height: 15vh;
    object-fit: cover;
   }
    
   .switches {
    display: block;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
  }


  .fullscreen img {
    max-width: 95%;
    max-height: 70%;
    object-fit: contain;
    cursor: pointer;
    }
    
  .fullscreen-details {
    width: 90%;
    background-color: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
    font-size: 1em;
    line-height: 1.5;
    }
    
    }