@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

html, body {max-width: 100%;}
body {background-color: black;}

h1, h2, h3, p {
  color: greenyellow;
  font-family: 'Silkscreen', cursive;
}

h1 {
  font-size: 1.4em;
}

canvas {
  display: block;
  z-index: -999;
}

/* NAVIGATION */ 

.gallery-title {
  position: absolute !important;
  z-index: 1;
  margin: 10px;
  left: 0;
  top: 0;
  background-color: black;
  border: 2px solid greenyellow;
  border-radius: 30px;
  padding: 2px 12px 4px 12px;
  box-shadow: 0 0 12px 0px greenyellow;
}

.gallery-title:hover {
  background-color: greenyellow;
  border: 2px solid black;   
  cursor: pointer;
}

.gallery-title h1:hover {
  color: black;
}

.switches {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  right: 0;
}

.switch1 {
  position: block;
  z-index: 1;
  margin: 10px;
  background-color: black;
  border: 2px solid greenyellow;
  border-radius: 30px;
  padding: 2px 12px 4px 12px;
  box-shadow: 0 0 12px 0px greenyellow;
}

.switch1:hover {
  background-color: greenyellow;
  border: 2px solid black;
}

.switch1 h1:hover {
  color: black;
}

.switch2 {
  position: block;
  z-index: 1;
  margin: 10px;
  background-color: black;
  border: 2px solid greenyellow;
  border-radius: 30px;
  padding: 2px 12px 4px 12px;
  box-shadow: 0 0 12px 0px greenyellow;
}

.switch2:hover {
  background-color: greenyellow;
  border: 2px solid black;
}

.switch2 h1:hover {
  color: black;
}

/* FAKE BROWSERS */

.allInfo {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: yellowgreen;
  position: absolute;
  }
    
.tab {
  grid-area: 1 / 1 / 2 / 2;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 250px;
  border: 1px solid greenyellow;
  background-color: black;
  display:fixed;
  margin: 0;
  }
  
.allInfo .tab {
  display: flex;
  justify-content: space-between;
}
    
.allInfo .tab p:last-child {
  margin-left: 10px;
}

.content {
  grid-area: 2 / 1 / 3 / 3;
  background-color: black;
  border: 1px solid greenyellow;
  padding: 10px;
}

#myInfo {
  position: absolute;
  top: 20vh;
  left: 10vw;
  z-index: 1;
  width: 250px;
  margin: 0;
}

#myInfo2 {
  position: absolute;
  bottom:10vh;
  right: 48vw;
  z-index: 2;
  max-width: 400px;
}

#myInfo2 .tab {
  width: 400px;
}


#myInfo3 {
  position: absolute;
  top: 30vh;
  right: 10vw;
  z-index: 3;
  max-width: 520px;
}

#myInfo3 .tab {
  width: 520px;
}

a:hover {
  text-shadow:1px 1px 10px greenyellow, 1px 1px 10px greenyellow;
}

.allInfo {
  display: none;
}
  
.allInfo.show {
  display: inline-block;
}

@media only screen and (max-width:768px) and (min-width:200px) {
  
  html, body {overflow-x: hidden;}
  
  body {width: 100vw;}
  h1 {font-size: 1em;}
  p {font-size:0.8em;}

  .switches {
    display: block;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
  }

  .tab {
    width: 200px;
    }

  #myInfo {
    top: 10vh;
    left: 5vw;
    width: 200px;
  }

  #myInfo2 {
    top: 45vh;
    left: 15vw;
    width: 300px;
  }

  #myInfo2 .tab {
    width: 300px;
  }
  
  #myInfo3 {
    position: absolute;
    top: 75vh;
    right: 5vw;
    z-index: 3;
    max-width: 350px;
  }
  
  #myInfo3 .tab {
    width: 350px;
  }
  
  
  
}