@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
    background-color: black;
  }

h1, h2, h3, p {
    color: greenyellow;
    font-family: 'Silkscreen', cursive;
}

h1 {
    font-size: 1.4em;
}

.gallery-title {
    position: fixed;
    z-index: 1;
    margin: 10px;
    right:0;
    background-color: black;
    border: 1px solid greenyellow;
    border-radius: 30px;
    padding: 2px 12px 4px 12px;
    box-shadow: 0 0 50px 10px greenyellow;

}

.gallery-info {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    margin: 10px;
    background-color: black;
    border: 1px solid greenyellow;
    border-radius: 30px;
    padding: 2px 12px 4px 12px;
    box-shadow: 0 0 50px 10px greenyellow;
}

.switch {
    position: fixed;
    z-index: 1;
    bottom: 0;
    margin: 10px;
    background-color: black;
    border: 1px solid greenyellow;
    border-radius: 30px;
    padding: 2px 12px 4px 12px;
    box-shadow: 0 0 50px 10px greenyellow;
}

td {
    font-family: 'Silkscreen', cursive;
    color: greenyellow;
    padding-bottom: 1em;
}

th {
    font-family: 'Silkscreen', cursive;
    color: greenyellow;
    padding-bottom: 1em;
    padding-top: 8em !important;
}

#index-table {
    width: 100%;
    margin: 10px;
}

.artwork-image {
    display: none;
    position: fixed;
    max-width: 50%;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  td:first-child:hover .artwork-image {
    display: block;
  }

.search-feature {
    font-family: 'Silkscreen', cursive;
    color: greenyellow;
    font-size: 1.4em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 10px;
    background-color: black;
    border: 1px solid greenyellow;
    border-radius: 30px;
    padding: 2px 12px 4px 12px;
    box-shadow: 0 0 50px 10px greenyellow;
}
